.opponent-container {
    padding: 10px;
    min-height: 200px;
}

.player-container {
    padding: 10px;
    min-height: 250px;  
}

.info-container {
    padding: 10px;
    min-height: 250px;  
}

.info-container.player-info-container {
    min-height: 220px;  
}

.info-container.hand-info-container {
    min-height: 280px;  
}

.section-container {
    padding: 0;
    /*background-color: #05a625;*/
    background-color: #479030;
    background-image: url("../img/felt.png");
    color: white;
}

.padding-l {
    padding-left: 15px;
}

.padding-r {
    padding-right: 15px;
}

.section-container .row {
    margin-right: 0;
    margin-left: 0;
}

.border-t {
    border-top:  1px solid white;
}

.border-l {
    border-left:  1px solid black;
}

.border-b {
    border-bottom:  1px solid black; 
}

.border-r {
    border-right:  1px solid black;
}

.no-padding-lr {
    padding-left: 0;
    padding-right: 0;
}

.section-container h5 {
    /*color: #e6ffe6;*/
    color: white;
}

.errorInput {
    color: red;
    background-color: #FFFFC0;
}
.errorText {
    color: sandybrown;
    font-style: italic;
}

.spacer {
    padding-top: 20px;
}

.align-right {
    text-align: right;
}

.host-ind {
    color: cyan;
    font-style: italic;
}

.dealer-ind {
    color: gold;
    font-style: italic;
}

.fold-ind {
    color: red;
    font-style: italic;
}

.hand-name {
    color: gold;
    font-style: italic; 
}

.pot-total {
    color: chartreuse;
    font-style: italic; 
}

.bold {
    font-weight: bold;
}

.btn-margin {
    margin-bottom: 2px;
}

.row-padding {
    padding-bottom: 4px;
}
